body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ProseMirror p.is-editor-empty::before {
  content: attr(data-placeholder);
  color: #aaa;
  float: left;
  height: 0;
  pointer-events: none;
}